*{font-family:roboto}
body
{
	background-color:black;
}
main
{
	height:calc(100vh - 64px - 52px);
	/*width:calc(100vw - 240px);
	max-width: calc(100vw - 240px);
	margin-left:240px;*/
}
footer
{
	height:50px;
}
footer p
{
	margin:0;
	width:100%;
}
#globalMenu
{
	margin-top:64px;
}
.block-slideout
{
	left:240px !important;
}
#customNav
{
	margin-top:64px;
	margin-bottom:1px;
	height:calc(100vh - 54px - 64px);
}
.brand-logo
{
	width:240px;
	text-align:center;
}
.visible 
{
	display:block !important;
}
.dropdown-content li>a, .dropdown-content li>span
{
	padding:0;
	text-align:center;
}